body {
    margin: 0;
    padding: 0;
    min-width: 460px;
}

html {
    scroll-behavior: smooth;
}

/* Hide scrollbar */
::-webkit-scrollbar {
    width: 0;
}

#toTopBtn {
    background: #05f;
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 8px 15px;
    color: white;
    transition: all 0.2s ease;
    z-index: 1;
}

#toTopBtn:hover {
    border: 2px solid #05f;
    background: #fff;
    border-radius: 50%;
    color: #05f
}

.carousel.carousel-welcome {
    z-index: -1;
}